/*Author: Patrick Candy*/
/*Student ID: 665571535*/

/*set a default for all tags*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    background: transparent;    
}

/*Styling for background*/
body{
    background-color: #fdb750;
    background-image: url(../img/checkered-light-emboss.png);
    background-repeat:repeat;
    background-position: left bottom, center;
    background-attachment:scroll;
    margin: 0px;
} 

.background{
    background-color: #fdb750;
    background-image: url(../img/checkered-light-emboss.png);
    background-repeat:repeat;
    background-position: left bottom, center;
    background-attachment:scroll;
    margin: 0px;
}

/*Styling for Tables rows*/
td{
    padding-left:5px;
}

th{
    text-align: left;
}

/*Styling for Lists*/
li a:visited, li a:link{
    color:black;
    text-decoration: none;
}

li a:hover{
    color:#fc2e20;
    text-decoration: none;   
}

input, select{
    background-color: white;
    border: 1px;
    padding: 3px 5px;
    min-width: 0;
}

/*Text Styling*/
.heading1{
    font-size: 36px;
    font-weight: bold;
}

.heading2{
    font-size: 24px;
    font-weight: bold;  
}

.paragraph1{
    font-size: 16px;
    margin: 14px 0px;
}

/*Styling for Forms*/
.buttonstyle{
    background-color: white;
    padding: 3px 5px;
    border-style: groove;
    border-color: #010100;
    border-width: 1px;
    border-radius: 5px;
}

.textbox{
    background-color: white;
    padding: 3px 5px;
    border-color: #010100;
    border-width: 1px;
    border-style: groove;
    width: 0;
}

.listItems1{
    font-size: 12px;
}

.barheading{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

/*Styling for sidebar*/
.sidebar{
    width: 125px;
    height:100vh;
    text-align: center;
}

/*Pushes elements to the left*/
.floatleft{
    float: left;
    left:0;
}

/*pushes elements to the right*/
.floatright{
    float: right;
    right:0;
}

/*Removes all float properties*/
.clearfloat{
    clear: both;
}

/*Styling for footer elements*/
.footer{
    width: 100vw;
    height: 50px;
    position:fixed;
    left:0;
    bottom:0;
}

/*Search bar Styling*/

.searchtext{
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 2px;
    margin-top:2px;
    margin-right:3px;
}

/*Flex container Styling*/
.flexcontainer1{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    gap: 10px;
    list-style-type: none;   
}

.flexcontainer2{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width:100vw;
}

.flexcontainer3{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    list-style-type: none;  
}

.flexitem1{
    margin: 5px;
    flex: 5 1 0;
    flex-wrap: wrap;
}
.flexitem2{
    margin: 8px;
    background-color: transparent;
    max-width: fit-content;
    flex: 1 0 0;
}
.flexitem3{
    margin: 3px;
    flex: 0 0 0;
}

.flexitem4{
    flex:auto;
    border:#010100;
    border-style:ridge;
    border-width: 1px;
    border-radius: 5px;
}


/*Flex Item ordering - items with the lowest order is shown last */
.item1{
    order:1;
}
.item2{
    order:2;
}
.item3{
    order:3;
}
.item4{
    order:4;
}

/*Styling for header & nav bar*/
.header{
    color: #010100;
    margin: 0px;
    padding: 0px;
    min-width: max-content;
}

.navbar{
    display:block;
    background-color:#010100;
    border-radius:30px;
    position:sticky;
    top: 20px;
    width:100vw;
}

.navbar a{
    display:inline-block;
    margin:5px;
    text-decoration: none;
    color:#fd7f20;
}

.navbar a:hover{
    color:#fc2e20;
}

.navbar-right{
    float:right;
}



/*color palette*/
/*https://www.canva.com/colors/color-palettes/warm-sunset/*/